.intrusion{
    padding: 30px 20px 0 20px;
    .el-tabs--border-card > .el-tabs__header {
        margin: 20px 0;
    }
    .in.el-tabs__nav-scroll {
    background: #fff;
    }
    .el-tabs__nav-scroll {
    text-align: center;
    }
    .el-tabs__nav {
    float: initial;
    display: inline-block;
    }
    .el-tabs--border-card > .el-tabs__header .el-tabs__item {
    font-size: 18px;
    color: #7481a0;
    margin: 5px;
    padding: 0;
    width: 120px;
    }
    .el-tabs--border-card > .el-tabs__header .el-tabs__item.is-active {
    color: #5f6d8f;
    background-color: #cad2e2;
    }
    .el-tabs__content {
    height: calc(100% - 130px);
    }
    .el-tabs__content .el-tab-pane {
    height: 100%;
    }
    .el-tabs__nav-wrap::after{
    width: 0;
    }
    .el-tabs__item{
    padding: 0 40px;
    }
}